<html ng-app="folsom">
  <head>
    <title></title>
    <script src="/static/node_modules/angular/angular.js"></script>  
    <script src="/static/node_modules/angular-route/angular-route.js"></script>  
    <script src="/static/node_modules/angular-cookies/angular-cookies.min.js"></script>  
    <script src="/static/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>  
    <script src="/static/js/app.concat.js"></script>  
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css/">
  </head>

  <body cz-shortcut-listen="true" ng-controller="folsomCtrl">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Folsom</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="#">View</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/#" ng-show='loggedIn' ng-click="logout()">Logout</a>
              <a href="/login" ng-hide='loggedIn'>Login</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div ng-view="" style="margin-top: 50px;" class="container">
    </div>
  
  </body>
</html>
